img .logo {width: 100px;}
.home{
	width: 980px;
	min-height: 800px;
	margin: 0px auto;
	background-color: #f0f0f0;
}
.header{
	width: 980px;
	height: 120px;
	background-color: #198284;
}
.logo{
	margin-top: 20px;
}
.menu{
	width: 980px;
	height: 40px;
	background-color: #383937;
}
.menu a{
	color: #ebebeb;
	line-height: 40px;
	text-decoration: none;
	margin-left: 10px;
}
.menu input{
    float: right;
    margin-top: 12px;
}
.menu_list{
	width: 500px;
	display: inline-block;
    float: left;
}